/* sections index*/

.patua-one-regular {
    font-family: "Patua One", serif;
    font-weight: 400;
    font-style: normal;
  }
  
.contenido-1 {
    text-align: center;

    h1,
    h2 {
        text-align: center;
        margin: 30px;
    }

    p {
        max-width: 1200px;
        padding: 20px; 
    }
}

.img_box {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;

    .peruano {
        max-width: 400px;
        max-height: 400px;
        align-items: center;

        &,
        ~.contenido-1 p {
            max-width: 1200px;
            padding: 30px;
        }
    }
}


.contenido-2 {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 30px;

    h2,
    p {
        align-items: center;
        padding-bottom: 30px;
    }
}