/*Estilo Header/Nav*/
#header {
    width: 100%;
    height: 80px;
    background-color: bisque;

    #navBar {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__Logo {
            display: flex;
            align-items: center;
            padding-left: 10px;

            p {
                padding-left: 10px;
                font-size: 30px;
                font-weight: bold;
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            }
        }
    }
}

.logo-header {
    width: 60px;
    height: 60px;
}

#menu {
    text-align: right;
}

#toggle-menu {
    /* Checkbox oculto */
    display: none;
}

.hamburger {
    /* Botón hamburguesa oculto */
    display: none;
    font-size: 24px;
    color: black;
    cursor: pointer;
}

li {
    display: inline-block;
    padding: 5px;

    &:hover {
        background-color: #ebcaca;
    }
}