/*BODY-MAIN*/

a {
    text-decoration: none;
    color: black;

}

#main {
    min-height: 100vh;
    max-width: 100%;
}


/*PAGE INVIERNO*/

.hebras__h1 {
    text-align: center;
    background-color: rgb(233, 170, 241);
    padding: 20px;
}

.container text-center {
    display: flex;
}

.acrilicos__h2,
.merino__h2,
.shetland__h2,
.fantasias__h2 {
    text-align: center;
    margin: 20px;
}

/*PAGE PRIMAVERA VERANO*/
.algodonRustico__h2,
.peruano__h2,
.fantasias__verano--h2 {
    text-align: center;
    margin: 20px;
}

.hebrasVerano__h1 {
    text-align: center;
    background-color: rgb(166, 238, 214);
    padding: 20px;
}

.algodonRustico__h2,
.peruano__h2,
.ovillos__h2,
.fantasias__verano--h2 {
    text-align: center;
    margin: 20 px;
}

/*PAGE ACCESORIOS*/
.accesorios__h1 {
    text-align: center;
    background-color: rgb(195, 143, 245);
    padding: 20px;
}

.crochet__h2,
.tricot__h2,
.circulares__h2,
.accesorios__h2 {
    text-align: center;
    margin: 20px;
}


/*ESTILOS PAGE CONTACTO*/

#mainContacto {
    min-height: 100vh;
    max-width: 1920px
}

.grid__container--2 {
    display: grid;
    grid-template-areas:
        "form  clase"
        "clase2 clase3"
    ;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    column-gap: 20px;
    row-gap: 20px;
    margin: 30px;
}

#clase {
    grid-area: clase;
}

#form {
    grid-area: form;
    height: 100%;
}

.contactForm {
    width: 80%;
    align-content: center;
}

.form__h2--contacto,
.clase__h2--clase1,
.clase__h2--clase2,
.clase__h2--clase3 {
    text-align: center;
}

.card-img-top-1,
.card-img-top-2,
.card-img-top-3 {
    padding: 10px;
    height: 450px;
    width: auto;
    justify-items: center;
}


.h1__contact--1 {
    text-align: center;
    background-color: rgb(206, 241, 117);
    padding: 20px;
}

/*cards transformation*/
